.panel {
  font-family: 'Times New Roman', fantasy;
  background-color: #DB7093;
  height: 60px;
  display: flex;
  border-radius: 10px;
  position: absolute;
  left: 280px;
  right: 280px;
}

.items {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.items li {
  cursor: pointer;
  font-size: 18px;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0 3em .3em 0;
}

.items li:hover {
  color: #8f246b;
}

.spacer {
  flex: 1;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 2%;
}
