.panel {
  font-family: 'Times New Roman', fantasy;
  background-color: plum;
  height: 60px;
  display: flex;
  border-radius: 10px;
  position: absolute;
  width: 1200px;
  max-width: 1200px;
  z-index: 1;
}

.items {
  display: flex;
}

.items li {
  cursor: pointer;
  font-size: 18px;
  padding: 0 3em .3em 0;
}

.items li:hover {
  color: #8f246b;
}

.spacer {
  flex: 1;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 2%;
}
