<ng-container *ngIf="post" >
<div class="post-container">
  <div class="post-header">
    <ul>
      <li class="left">
        <i class="post-username" routerLink ="../profile" [queryParams]="{'id': post.user.id}">{{post?.user?.username}}</i>
      </li>
      <li class="right">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink ="../reactions/{{post.id}}">
            <mat-icon>tag_faces</mat-icon>
            <span>See reactions</span>
          </button>
          <button mat-menu-item>
            <mat-icon>feedback</mat-icon>
            <span>See complaints</span>
          </button>
          <button mat-menu-item>
            <mat-icon>create</mat-icon>
            <span>Write a complaint</span>
          </button>
          <button mat-menu-item *ngIf="checkUser()" (click)="deletePost(post)">
            <mat-icon>delete</mat-icon>
            <span>Delete post</span>
          </button>
        </mat-menu>
      </li>
      <li class="centre-right">
        <i class="date"> {{post?.date | date: 'dd/MM/yyyy'}} at {{post?.date | date: 'H:mm'}}</i>
      </li>
    </ul>
  </div>
  <div class="post-content">
    <img class="photo" [src]="post.photo" width="435" height="508" alt="image">
    <div class="post-detail-container">
      <div class="comment-container">
        <div class="post-description">
          <mat-card class="description">
            <mat-card-content>
              <p>
                {{post?.description}}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <mat-divider></mat-divider>
        <app-comment [postId]="post.id"></app-comment>
      </div>
      <div class="post-actions">
        <app-reaction [postId]="post.id"></app-reaction>
      </div>
    </div>
  </div>
</div>
</ng-container>

