.mat-icon-button.small {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-left: 38%;
}

.mat-icon, .mat-icon-button i {
  line-height: 14px;
}

.mat-icon {
  width: 14px;
  height: 14px;
  line-height: 14px;
}

.material-icons {
  font-size: 14px;
}

.comment-card {
  box-shadow: none;
}

