<div class="reactions">
  <ul class="reactions-buttons">
    <li>
      <button  [style.color]="currentReaction?.reaction==='LIKE' ? 'red' : 'black'"
               (click)="like()" mat-icon-button>
        <mat-icon>thumb_up_alt</mat-icon>
      </button>
    </li>
    <li>
      <div>{{likeCount}}</div>
    </li>
    <li>
      <button [style.color]="currentReaction?.reaction==='DISLIKE' ? 'red' : 'black'"
              (click)="dislike()" mat-icon-button>
        <mat-icon>thumb_down_alt</mat-icon>
      </button>
    </li>
    <li>
      {{dislikeCount}}
    </li>
  </ul>
</div>
