.toolbar {
  font-family: 'Times New Roman', fantasy;
  background-color: #DB7093;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
}

.title {
  margin-left: 2%;
  font-size: 35px;
}

.items {
  display: flex;
  list-style-type: none;
}

.items li {
  cursor: pointer;
  font-size: 18px;
  margin-left: 1%;
  margin-right: 1%;
  padding: 0 4em .3em 0;
  outline: none
}

.items li:hover {
  color: #8f246b;
}

.spacer {
  flex: 1;
}
