<ng-container *ngIf="user">
  <mat-card routerLink ="../profile" [queryParams]="{'id': user.id}">
    <mat-card-title class="username-title">
      {{user?.username}}
    </mat-card-title>
    <mat-card-subtitle>{{user?.firstName}} {{user?.lastName}}</mat-card-subtitle>
    <ng-container *ngIf="user.photo">
      <img [src]="user?.photo" width="200" height="200">
    </ng-container>
    <ng-container *ngIf="!user.photo">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" width="200" height="200">
    </ng-container>
    <mat-card-content>
      <p>
        {{user?.bio}}
      </p>
    </mat-card-content>
  </mat-card>
</ng-container>
