<ng-container *ngIf="user">
<div class="user-info">
  <app-user-info [user]="user"></app-user-info>
  <p></p>

  <ng-container *ngIf="checkUsers()">
    <span class="status"><button mat-stroked-button (click)="createForm()">New post</button></span>
  </ng-container>

  <span class="status">
    <button mat-stroked-button routerLink ="../subscriptions" [queryParams]="{'id': user.id}">Subscribers</button>
  </span>

  <span class="status">
    <button mat-stroked-button routerLink ="../subscribers" [queryParams]="{'id': user.id}">Subscriptions</button>
  </span>

  <ng-container *ngIf="currentUser.role === 'ADMIN' && !checkUsers()">
    <span class="status"><button mat-stroked-button (click)="blockUser()">Change status</button></span>
    <span class="status">{{user.status}}</span>
  </ng-container>
</div>

<div class="new-post">
<ng-container class="new-post" *ngIf="visibilityNewPost">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="post-form-container">
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput placeholder="Some info about your post.."
             id="description" type="text" formControlName="description" required>
    </mat-form-field>
    <mat-error *ngIf="hasError('description', 'required')">
      Description is required
    </mat-error>
    <mat-error *ngIf="hasError('description', 'maxlength')">
      Description must be at least 300 characters long
    </mat-error>
    <label for="file-upload" class="custom-file-upload">
      <span>Upload photo</span>
    </label>
    <input id="file-upload" (change)="upload($event)" type="file" accept=".png, .jpg, .jpeg" formControlName="imgUrl"
            required>
    <img class="new-post-image" [src]="imgURL" width="360" height="450" *ngIf="imgURL">
    </div>
  </form>
  <div class="new-post-buttons">
  <button mat-stroked-button class="save-button"
          type="submit" [disabled]="postForm.invalid" (click)="onSubmit()">Save</button>
  <button mat-stroked-button (click)="clear()">Close</button>
  </div>
</ng-container>
</div>

<ul class="posts">
  <li *ngFor="let post of page?.content">
    <app-post [post]="post" [currentUser]="currentUser" (onDelete)="removeFromArray()"></app-post>
  </li>
</ul>
<ng-container *ngIf="page.content.length">
  <app-paging [page]="page" (onChanged)="getPostsByUserId()"></app-paging>
</ng-container>
</ng-container>

