mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-card-title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -.5px;
}

mat-card {
  width: 50%;
  margin: 20% auto;
}
