footer {
  position: absolute;
  background-color: #343a40;
  display: flex;
  align-items: center;
  line-height: 24px;
  left: 0;
  right: 0;
  flex-direction: column;
  box-sizing: border-box;
}

.text-muted {
  font-family: 'Times New Roman', fantasy;
  color: white;
  font-size: 16px;
}
